<html>

<style>
    @font-face {
        font-family: 'Yekan';
        src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot');
        src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
            url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.woff') format('woff'),
            url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.ttf') format('truetype');
        font-weight: normal;
    }

    @font-face {
        font-family: 'Yekan';
        src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot');
        src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot?#iefix') format('embedded-opentype'),
            url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.woff') format('woff'),
            url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.ttf') format('truetype');
        font-weight: bold;
    }

    body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
    }

    h1 {
        color: #b04b4b;
        font-family: yekan;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }

    p {
        color: #404F5E;
        font-family: yekan;
        font-size: 20px;
        margin: 0;
    }


    i {
        color: #bc8866;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }

    .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #d8cdc8;
        display: inline-block;
        margin: 0 auto;
    }
</style>


<body>
    <script>
        setTimeout(function(){
           window.location.href = '{{bot_link}}';
        }, 5000);
     </script>
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="close">❗</i>
        </div>
        <h1>تراکنش ناموفق</h1>
        <p>کد رهگیری : {{track_id}}</p>
        <p style="font-size: 85%;">در صورت کسر شدن مبلغ از حساب شما طی 72 ساعت مبلغ به حساب شما واریز خواهد شد</p>
    </div>
</body>

</html>